.fun {
    
    font-weight: bold;
    color: white;
    font-weight: 900;
}

body {
    background-color: rgb(20, 139, 75);
    display: flex ;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}